---
import { Image } from "astro:assets";
import { clientLogos } from "@/assets/images/clients";
---

<section id="clientes" class="bg-gray-50 py-24 sm:py-22">
  <div class="mx-auto max-w-270 px-6 lg:px-8">
    <div class="mx-auto max-w-7xl lg:mx-20">
      <h2 class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl text-center">
        Nuestros clientes: La confianza como cimiento
      </h2>
      <p class="mt-2 text-lg/8 text-gray-600 text-center">
        La confianza es la base de toda colaboración exitosa. A lo largo de nuestra trayectoria, numerosas empresas han
        depositado en INODE64 la responsabilidad de impulsar sus proyectos. Su confianza es nuestro mayor aval y nos
        enorgullece presentar algunos de los nombres que han elegido nuestro compromiso y resultados.
      </p>
    </div>
    <div
      class="mx-auto mt-10 grid max-w-lg grid-cols-3 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-5 sm:gap-x-1 lg:mx-0 lg:max-w-none lg:grid-cols-5"
    >
      <a href="https://villarrealcf.es">
        <Image
          src={clientLogos.villarreal}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Envidea Multimedia / Villarreal C.F."
        />
      </a>
      <a href="https://www.transgrau.es">
        <Image
          src={clientLogos.transgrau}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Transportes Trans-grau"
        />
      </a>
      <a href="https://actm.es">
        <Image
          src={clientLogos.actm}
          format="webp"
          class="h-32 mx-auto col-span-2 max-h-32 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Asociación empresarial de transporte en Castellón"
        />
      </a>
      <a href="https://www.enfervalencia.org">
        <Image
          src={clientLogos.colenfermeria}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Colegi enfermeria de Valencia"
        />
      </a>
      <a>
        <Image
          src={clientLogos.alcorense}
          format="webp"
          class="h-24 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Azulejera Alcorense"
        />
      </a>
      <a>
        <Image
          src={clientLogos.finoygomez}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Fino y Gómez S.L."
        />
      </a>
      <a href="https://www.magicworldresort.com">
        <Image
          src={clientLogos.marinador}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Marinador / Magic World"
        />
      </a>
      <a href="https://insca.com">
        <Image
          src={clientLogos.insca}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Insca Group"
        />
      </a>
      <a href="https://gransimenuts.org">
        <Image
          src={clientLogos.gransimenuts}
          format="webp"
          class="h-48 mx-auto col-span-2 max-h-57 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Colegio Grans i Menuts"
        />
      </a>
      <a>
        <Image
          src={clientLogos.escriche}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Construcciones Gil Escriche"
        />
      </a>
      <a href="https://promopublic.es">
        <Image
          src={clientLogos.promopublic}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Promopublic Group"
        />
      </a>
      <a href="https://innovamaquinaria.com">
        <Image
          src={clientLogos.innovamaquinaria}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Innovamaquinaria Group"
        />
      </a>
      <a href="https://www.dkasesor.es">
        <Image
          src={clientLogos.dkasesor}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="DK assessors"
        />
      </a>
      <a href="https://takeachef.com">
        <Image
          src={clientLogos.takeachef}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Take a Chef"
        />
      </a>
      <a href="https://stpwf.com">
        <Image
          src={clientLogos.stpwf}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="STP Wood Flooring"
        />
      </a>
      <a href="https://www.chumillastechnology.com">
        <Image
          src={clientLogos.chumillas}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="Chumillas Technology"
        />
      </a>
      <a href="https://www.elsotanoperdido.com">
        <Image
          src={clientLogos.elsotanoperdido}
          format="webp"
          class="h-28 mx-auto col-span-2 max-h-30 w-full object-contain lg:col-span-1"
          loading="lazy"
          alt="El Sótano Perdido"
        />
      </a>
    </div>
  </div>
</section>
