---
import Layout from "@/layouts/Layout.astro";
import services from "../../data/services.json";
import { siteConfig } from "@/config/site-config";

export async function getStaticPaths() {
  return services.map(service => ({
    params: { slug: service.slug }
  }));
}

const { slug } = Astro.params;
const service = services.find(service => service.slug === slug);

if (!service) {
  return Astro.redirect('/services', 302);
}

const { title, shortDescription, longDescription, details, imageName, keywords, price, priceUnit } = service;
---

<Layout 
  title={`${title} | Servicios ${siteConfig.title}`}
  description={shortDescription}
  image={`/images/products/${imageName}.webp`}
>
  <div class="lg:pt-24 sm:pt-24 pt-24 px-6 py-10 sm:py-12 lg:px-8">
    <section>
      <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 md:items-start">
          <div class="order-2 md:order-1">
            <h1 class="text-4xl font-extrabold text-gray-900">{title}</h1>
            <p class="mt-4 text-lg text-gray-700">{longDescription}</p>
            
            {details && Array.isArray(details) && (
              <ul class="mt-6 list-disc list-inside space-y-2 text-gray-600">
                {details.map(detail => (
                  <li>{detail}</li>
                ))}
              </ul>
            )}

            <div class="mt-8">
              <span class="inline-block rounded-full bg-red-100 px-5 py-2 text-sm font-semibold text-red-800">
                Precio: {price} {priceUnit}
              </span>
            </div>

            {keywords && Array.isArray(keywords) && (
              <div class="mt-6 flex flex-wrap gap-2">
                {keywords.map(keyword => (
                  <span class="inline-block rounded-full bg-gray-200 px-3 py-1 text-xs font-medium text-gray-700">
                    #{keyword}
                  </span>
                ))}
              </div>
            )}
          </div>

          <div class="flex justify-center lg:justify-end order-1 md:order-2">
            <img
              transition:name={`${imageName}-image`}
              src={`/images/products/${imageName}.webp`}
              alt={title}
              class="w-full max-w-md rounded-lg shadow-xl object-cover"
            />
          </div>
        </div>
        <div class="mt-6">
          <a
            href="/services"
            class="text-sm font-semibold text-red-800 hover:text-red-700 transition"
          >
            ← Volver a Servicios
          </a>
        </div>
      </div>
    </section>
  </div>
</Layout>