---
import Layout from "@/layouts/Layout.astro";
import { seoConfig } from "@/config/seo-config";
import { ObfuscatedPhone } from "astro-obfuscate/components";

const SITE = import.meta.env.SITE;
---

<Layout
  title={seoConfig.privacy.title}
  description={seoConfig.privacy.description}
  image={seoConfig.privacy.image}
  robots={seoConfig.privacy.robots}
>
  <div class="lg:pt-24 sm:pt-24 pt-24 px-6 py-10 sm:py-12 lg:px-8">
    <div class="mx-auto max-w-250 text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">
        Política de privacidad
      </h2>
    </div>
    <div class="mx-auto mt-10 max-w-2xl border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-auto lg:max-w-5xl">
      <h3 class="text-2xl font-semibold text-gray-900">Ley protección de datos</h3>
      <p class="mt-4 text-gray-700">
        INODE64 SISTEMAS garantiza que todos los datos recogidos a través del formulario serán utilizados en la forma y
        con las limitaciones y derechos que concede la Ley Orgánica 15/1999, de 13 de diciembre de Protección de Datos
        de Carácter Personal (LOPD). El tratamiento y gestión de los mismos cumple lo estipulado en el Real Decreto
        994/1999, de 11 de Junio, por el que se aprueba el Reglamento de medidas de seguridad de los ficheros
        automatizados que contengan datos de carácter personal. Vd. autoriza a INODE64 SISTEMAS, para el uso y
        tratamiento informático de los datos personales que facilite, que serán empleados para proporcionarle
        información de nuestras condiciones de distribución, la promoción de los productos y servicios de INODE64
        SISTEMAS, y con fines históricos. Vd. podrá ejercitar sus derechos de acceso, rectificación, oposición y
        cancelación de sus datos personales, de conformidad con lo establecido en la normativa vigente sobre protección
        de datos personales, dirigiéndose a INODE64 SISTEMAS.
      </p>

      <h3 class="mt-8 text-2xl font-semibold text-gray-900">1. General</h3>
      <p class="mt-4 text-gray-700">
        INODE64 SISTEMAS, como propietario de {SITE}, garantiza expresamente que los datos que usted nos facilite son
        mantenidos con absoluta confidencialidad.
      </p>

      <h3 class="mt-8 text-2xl font-semibold text-gray-900">2. Tratamiento de sus datos personales</h3>
      <p class="mt-4 text-gray-700">
        Al objeto de procesar su pedido, requerimos nos faciliten ciertos datos personales como la razón social, C.I.F.,
        nombre y apellidos, dirección, teléfono y e-mail los cuales son tratados de forma informatizada. Vd. autoriza
        expresamente que dichos datos sean archivados en nuestra base de datos de clientes para su uso interno.
      </p>
      <p class="mt-4 text-gray-700">
        De conformidad con lo establecido en la Ley Orgánica 15/99, de 13 de Diciembre de Protección de Datos de
        Carácter Personal y en la normativa de desarrollo, usted puede, en cualquier momento, acceder, modificar o
        solicitar que cancelemos su información personal de nuestra base de datos enviando un e-mail o bien
        telefónicamente al <ObfuscatedPhone phone={import.meta.env.PHONE_NUMBER} />.
      </p>
      <p class="mt-4 text-gray-700">
        El tratamiento y gestión de los mismos cumple lo estipulado en el Real Decreto 994/1999, de 11 de junio, por el
        que se aprueba el reglamento de medidas de seguridad de los ficheros automatizados que contengan datos de
        carácter personal.
      </p>
      <p class="mt-4 text-gray-700">
        INODE64 SISTEMAS, como propietario de {SITE}, bajo ningún concepto, vende información sobre sus clientes a
        terceros ni cederá información alguna de sus datos.
      </p>

      <h3 class="mt-8 text-2xl font-semibold text-gray-900">3. Datos de tarjeta de crédito</h3>
      <p class="mt-4 text-gray-700">
        INODE64 SISTEMAS, como propietario de {SITE}, nunca recibe los datos de su tarjeta de crédito, éstos son
        enviados directamente al soporte de pago Website Payments Standard Integration de PayPal o a los bancos quienes
        procesan el pago y nos notifican la realización de la operación.
      </p>

      <h3 class="mt-8 text-2xl font-semibold text-gray-900">4. Seguridad</h3>
      <p class="mt-4 text-gray-700">
        INODE64 SISTEMAS, como propietario de {SITE}, toma todas las medidas necesarias para proteger la
        confidencialidad de su información personal.
      </p>
      <p class="mt-4 text-gray-700">
        Únicamente empleados autorizados tienen acceso a las bases de datos que almacenan información del usuario o a
        los servidores que hospedan nuestro servicio.
      </p>

      <h3 class="mt-8 text-2xl font-semibold text-gray-900">5. Modificaciones</h3>
      <p class="mt-4 text-gray-700">
        INODE64 SISTEMAS, como propietario de {SITE}, se reserva el derecho de modificar su política de confidencialidad
        a causa de un cambio legislativo, jurisprudencial o de acuerdo con su criterio o práctica empresarial.
      </p>
      <p class="mt-4 text-gray-700">
        Para cualquier duda o aclaración referente a nuestra política de confidencialidad, por favor póngase en contacto
        con nosotros.
      </p>

      <p class="mt-8 text-gray-700">Alojamiento de la página Web: OVH, 140, quai Sartel, 59 000 ROUBAIX, Francia.</p>
    </div>
  </div>
</Layout>
