---
import Layout from "@/layouts/Layout.astro";
import { seoConfig } from "@/config/seo-config";

import { ObfuscatedEmail, ObfuscatedPhone } from "astro-obfuscate/components";
---

<Layout
  title={seoConfig.terms.title}
  description={seoConfig.terms.description}
  image={seoConfig.terms.image}
  robots={seoConfig.terms.robots}
>
  <div class="lg:pt-24 sm:pt-24 pt-24 px-6 py-10 sm:py-12 lg:px-8">
    <div class="mx-auto max-w-250 text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">
        Términos y condiciones
      </h2>
    </div>
    <div class="mx-auto mt-10 max-w-2xl border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-auto lg:max-w-5xl">
      <h1>Aviso legal</h1>
      <h2>Condiciones de uso de esta web y Condiciones Generales de compra</h2>

      <h2>Condiciones de uso de esta web</h2>

      <h3>1. General</h3>
      <p>Utilizar esta página web y/o registrarse como usuario presupone la aceptación de estas condiciones.</p>

      <h3>2. Propiedad de esta página web</h3>
      <p>
        Esta página web es propiedad de INODE64 SISTEMAS, todos los derechos de su contenido, de las imágenes, textos,
        diseño y software son propiedad de la misma.
      </p>
      <p>
        Todos los elementos de esta página, incluyendo sin limitaciones, su diseño y su contenido están protegidos por
        las leyes de la Propiedad Intelectual, Propiedad Industrial y tratados internacionales referidos a los Derecho
        de Autor.
      </p>

      <h3>3. Uso de su Contenido</h3>
      <p>
        Los derechos relativos a la propiedad industrial e intelectual (a título enunciativo y no limitativo: marcas,
        logotipos, textos, fotografías, iconos, imágenes,..., así como el diseño gráfico, código fuente y demás
        elementos de software contenidos en la página Web www.inode64.com son propiedad de INODE64 SISTEMAS. o de las
        empresas representadas y fabricantes de los productos y servicios ofertados. Por tanto están sujetos a derechos
        de propiedad intelectual e industrial protegidos por la legislación española e internacional.
      </p>
      <p>
        Sin la previa autorización escrita de forma fehaciente de INODE64 SISTEMAS, o, en su caso, del representante o
        del fabricante del producto titular de los derechos, no está permitido utilizar, reproducir, transmitir,
        manipular, así como cualquier uso que exceda de una utilización normal y necesaria para la visita de la página y
        el uso de los servicios ofrecidos.
      </p>
      <p>
        El acceso a los servicios suministrados no supone por parte de INODE64 SISTEMAS renuncia, transmisión ni cesión
        total o parcial de los derechos derivados de la propiedad intelectual e industrial, ni atribuye derechos de
        utilización, alteración, explotación, reproducción, distribución o comunicación pública sobre estos contenidos
        sin la previa y expresa autorización por escrito de los respectivos titulares de dichos derechos, sin perjuicio
        del derecho de visualización y obtención de copia privada de seguridad de tales contenidos, siempre que dicho
        derecho se ejercite según los principios de buena fe y siempre que se mantenga inalterada la propiedad
        intelectual e industrial del titular de tales derechos, se utilice sin fines comerciales y exclusivamente para
        información personal del usuario.
      </p>
      <p>
        La responsabilidad derivada del uso de materiales protegidos por los derechos de propiedad intelectual e
        industrial contenidos en esta página corresponderá exclusivamente al usuario.
      </p>

      <h3>4. Responsabilidades</h3>
      <p>
        A pesar de que INODE64 SISTEMAS, pone el máximo esfuerzo en garantizar la precisión y exactitud en el contenido
        de esta página web, ésta puede contener errores o inexactitudes. Consecuentemente no garantizamos la veracidad,
        la fiabilidad o la exactitud de su contenido.
      </p>
      <p>
        INODE64 SISTEMAS, rechaza la responsabilidad sobre la información contenida en páginas web de terceras partes
        conectadas por enlaces (links), con las páginas web de INODE64 SISTEMAS.
      </p>
      <p>
        Bajo ninguna circunstancia, INODE64 SISTEMAS, será tenido como responsable de ningún daño o perjuicio de ningún
        tipo surgido de, o en relación, al uso de esta página web.
      </p>
      <p>
        Deberá indemnizar a INODE64 SISTEMAS., contra cualquier daño o perjuicio que resulte del incumplimiento por su
        parte de las presentes condiciones o del uso del contenido de esta web sin previa autorización.
      </p>

      <h3>5. Divisibilidad</h3>
      <p>
        Si alguna estipulación de las presentes condiciones carece o pasase a carecer de validez o resultara no
        ejecutable según el derecho aplicable, dicha estipulación no tendría efecto, pero solamente en la medida de esa
        precisa falta de validez, y no afectará a ninguna otra estipulación de las presentes condiciones.
      </p>

      <h3>6. Legislación y jurisdicción aplicable</h3>
      <p>
        Estas condiciones de uso deben ser interpretadas y están regidas por la legislación española vigente. Cualquier
        disputa derivada de estas condiciones deberá dirimirse ante los tribunales de Castellón, España. No obstante,
        esto no impedirá a INODE64 SISTEMAS, ejercer el derecho a resolver cualquier litigio en otra jurisdicción
        competente.
      </p>

      <h3>7. Modificaciones</h3>
      <p>
        INODE64 SISTEMAS se reserva el derecho a realizar modificaciones o actualizaciones sobre los productos, precios,
        promociones y demás condiciones contenidas en la página www.inode64.com.
      </p>

      <h2>Condiciones Generales de compra</h2>

      <h3>1.- Identificación</h3>
      <p>
        Las Condiciones Generales de Contratación recogidas en el presente documento son de aplicación a todas las
        transacciones comerciales que se realicen a través de la página web www.inode64.com, cuyo titular es INODE64
        SISTEMAS, con domicilio en c/ Zumalacárregui nº 43, 1, 12540 VILA-REAL ( Castellón ).
      </p>
      <p>
        Estas condiciones generales de venta son las únicas aplicables y consideramos que una vez que haya hecho un
        pedido, habrá aceptado sin reservas nuestras condiciones generales de venta tras haberlas leído.
      </p>
      <p>
        Accediendo a www.inode64.com, el comprador se compromete a respetar las Condiciones Generales así como las
        Condiciones de Utilización que figuran en las mismas.
      </p>

      <h3>2.- Objeto y actividad</h3>
      <p>
        INODE64 SISTEMAS es experta en soluciones informáticas de software libre que permiten ahorrar costes de
        licencias a las empresas. Mediante Linux y aplicaciones libres ofrecemos una amplia gama de servicios que van
        desde la configuración de dominios y correo electrónico hasta la programación web en Joomla (templates, módulos,
        plugins), e-commerce, servidores de ficheros, faxes, clusters de alta disponibilidad que permiten a la empresa
        seguir trabajando aun cuando algún servidor se estropea...Y sin olvidar la seguridad, a la que prestamos la
        máxima atención: VPN, control de uso de Internet, Firewalls, Backups remotos, Securización de sus servidores
        corporativos, etc...
      </p>
      <p>En nuestra tienda online vendemos productos hardware tanto en stock como outlet.</p>

      <h3>3.- Errores de información</h3>
      <p>
        Dentro de nuestros medios, procuramos que la información ofrecida en el website sea veraz y aparezca sin errores
        tipográficos. En caso de que se produzca algún error de tipografía, ajeno a nuestra voluntad, , se procederá a
        su inmediata corrección. Si sucediera que algún cliente decidiera realizar alguna compra basándose en un error
        de este tipo, INODE64 SISTEMAS. le informará de forma inmediata de dicho error, pudiendo ambas partes rescindir
        la compra sin coste alguno siempre y cuando se justifique la existencia de dicho error.
      </p>
      <p>
        INODE64 SISTEMAS presta gran atención a la información relativa a las características técnicas y prestaciones de
        los productos, mediante descripciones técnicas procedentes de los fabricantes, y de fotografías de calidad que
        ilustran los productos, en ningún caso nos haremos responsables de errores u omisiones de información,
        contenidos en nuestra página web. Si para el comprador alguna de las características técnicas del producto que
        quiere comprar, es indispensable, por favor contacte con nuestro servicio de atención al cliente, para
        corroborar dicha información.
      </p>

      <h3>4.- Nuestros precios</h3>
      <p>
        Todos los precios de venta indicados en nuestra página web se muestran en EUROS, incluyen el IVA. INODE64
        SISTEMAS se reserva el derecho de modificar sus precios en cualquier momento. No obstante, nos comprometemos a
        aplicar las tarifas en vigor indicadas en la página web en el momento de la realización de su pedido.
      </p>

      <h3>5.- Disponibilidad</h3>
      <p>
        Intentamos tener el stock óptimo de todos nuestros productos con el objetivo de realizar las entregas en menos
        de 7 días hábiles (sin sábados ni domingos), pero hay ocasiones en las que, por fallos en la cadena de
        suministro (fabricantes, distribuidores, operadores logísticos), no es posible.
      </p>
      <p>
        Si uno de los productos comprados no estuviera en stock nos comprometemos a informarle inmediatamente, mediante
        un correo electrónico o llamada telefónica, del plazo en que podremos enviarle su producto o le ofreceremos una
        alternativa al producto comprado. En caso de no satisfacerle el nuevo plazo y/o la alternativa, anularemos el
        pedido y si hubiera realizado el pago, se lo reintegraremos.
      </p>
      <p>
        En ningún caso INODE64 SISTEMAS. se hará responsable de los posibles retrasos en la entrega por parte de la
        agencia de transporte. Pondremos todos nuestros esfuerzos en la rápida solución de la incidencia, pero no se nos
        podrán pedir responsabilidades de ningún tipo.
      </p>

      <h3>6.- Como comprar</h3>
      <p>
        Para realizar una compra puede navegar por nuestro website hasta encontrar el producto deseado o bien a traves
        del buscador de productos que dispone la página.
      </p>
      <p>
        Una vez localizado el producto, haga clic sobre él para abrir la ficha del producto, donde aparecerá una
        pantalla en la que se le ofrecerá información más detallada sobre dicho producto.
      </p>
      <p>
        Si continúa interesado en la compra del producto, pulse el botón "Añadir a mi carro", y verá como el carrito
        situado en la parte derecha se actualizará con el producto seleccionado. Puede repetir este procedimiento hasta
        tener los productos deseados en el carrito. Una vez finalizada la selección de productos a comprar, seleccione
        "Ver carrito" para repasar la compra y hacerla efectiva. Una vez dentro del carrito puedes cambiar las unidades
        de los productos a comprar, eliminar productos del carrito o recalcular el nuevo precio de las modificaciones
        realizadas . También existe la opción de seguir comprando en el enlace "Volver a la tienda". Una vez ya este el
        carrito preparado, pulsar el botón "comprar" para realizar la compra.
      </p>
      <p>
        Si pulsa "comprar", aparecerá un formulario en el que se le solicitará su nombre de usuario y contraseña
        registrada en www.inode64.com. Si no está todavía registrado en nuestra página, aparecerá la opción "nuevo
        cliente" para registrarse. Si pulsa "Nuevo cliente", aparecerá un formulario en el que se solicitan sus datos.
        Si quiere puede guardar sus datos para futuras compras, introduciendo una contraseña que deberá recordar, junto
        con el nombre de usuario introducido. Una vez introducido el nombre de usuario y contraseña en caso de estar ya
        registrado o cumplimentado el formulario de registro de nuevo usuario, aparecerá una nueva pantalla donde podrás
        cambiar la dirección de envío del pedido si lo deseas y seleccionar el modo de pago. Pulse el botón "OK.
        Continuar".
      </p>
      <p>
        En la siguiente pantalla, podrá confirmar todos los datos del pedido. Una vez confirmados estos datos y si desea
        seguir adelante con la compra, pulse "Enviar pedido" y la aparecerá una última pantalla de "Fin de la compra" en
        la que se confirma que el pedido ha sido realizado y las instrucciones a seguir.
      </p>
      <p>Una vez realizado su pedido recibirá un correo electrónico con todos los datos de este.</p>

      <h3>7.- Formas de pago</h3>
      <p>Ponemos a disposición del comprador dos modalidades para realizar el pago de su pedido:</p>
      <p><strong>* Transferencia o Ingreso bancario</strong></p>
      <p>
        Si selecciona como forma de pago transferencia bancaria, recibirá junto con la confirmación de su compra un
        e-mail donde se le indicará el número de cuenta en la que efectuar la transferencia bancaria a nombre de INODE64
        SISTEMAS. Es muy importante que indique en el asunto "pedido nº xxxx", así como su nombre y apellidos para poder
        validarla.
      </p>
      <p>
        No se considerará efectuado el pago de un pedido hasta que el importe total del pago haya sido recibido en
        nuestra cuenta bancaria. Dispone de 7 días hábiles desde la realización de dicho pedido para realizar la
        transferencia, pasados los cuales sin constar hecho el pago, INODE64 SISTEMAS considerará anulado el pedido en
        cuestión.
      </p>
      <p>
        Para tramitar el envío de una forma más ágil y contrastar más rápidamente la información facilitada por nuestra
        entidad bancaria le solicitamos que nos remita por e-mail a <ObfuscatedEmail
          email={import.meta.env.SENDER_CONTACT_EMAIL}
        />, el justificante de la transferencia.
      </p>
      <p>
        No olvide que debe efectuar el pago en EUROS y que todas las eventuales comisiones bancarias corren por su
        cuenta al optar por este sistema de pago.
      </p>
      <p><strong>* Tarjeta de crédito a través de servidor seguro PAYPAL</strong></p>

      <h3>8.- Formas de envío, gastos y plazos de entrega</h3>
      <p>
        INODE64 se reserva el derecho de variar el modo de envío y la compañía por la que se efectúa éste,
        independientemente de lo expuesto en estas páginas y siempre que no suponga un perjuicio manifiesto para el
        cliente. En ningún caso se realizarán envíos a apartados postales.
      </p>
      <p>
        El servicio de reparto a domicilio lo realizamos con empresas de transporte urgente (principalmente con DHL y
        MRW), una vez realizado el envío, le podremos facilitar, previa petición, el numero de expedición para que pueda
        contactar directamente con la agencia de transporte y pueda concertar la entrega.
      </p>
      <p>
        Todos nuestros envíos están asegurados a TODO RIESGO, por lo que si hay cualquier tipo de incidencia (perdida,
        rotura, etc.…),rogamos nos lo comunique lo más rápidamente posible para poder proceder a su reposición. Al
        recibir el pedido es obligatorio que el comprador revise que todo está conforme con su pedido y en perfecto
        estado. Si no estuviera de acuerdo con los productos entregados, firme e indique a mano en el albarán de entrega
        las anomalías que encontró al recibirlo (embalaje en mal estado, no coinciden los bultos entregados con los del
        albarán de entrega, etc.….) En caso de existir cualquier incidencia, sólo tenemos 24 horas desde la fecha de
        recepción del producto, para reclamar a la compañía de transporte. Una vez pasado ese plazo el comprador se hará
        cargo de los gastos ocasionados.
      </p>

      <h3>9.- Cancelaciones, devoluciones y garantías</h3>
      <p>
        Si por algún motivo no queda satisfecho con su pedido, tiene un plazo de 7 días, a contar desde la fecha de
        entrega del pedido, para devolverlo. (Según art.71 del Real Decreto Legislativo 1/2007, de 16 de Noviembre, por
        el que se aprueba el texto refundido de la Ley General para la Defensa de los Consumidores y Usuarios). Los
        Gastos generados por la devolución del producto correrán a cargo del comprador (Art. 101.1 RDLg 1/2007). Sólo
        tiene que hacernos llegar el producto en perfectas condiciones y en su embalaje original, incluyendo garantías,
        etiquetas e instrucciones de uso.
      </p>
      <p>
        Es muy importante que nos devuelva el/los productos de cambio o devolución perfectamente embalados. En caso de
        que los productos resulten dañados debido a un embalaje inapropiado, no admitiremos la devolución. Una vez que
        recibamos la mercancía en nuestro almacén y comprobemos que se dan todas las condiciones anteriores, INODE64
        gestionará la devolución del dinero.
      </p>
      <p>
        Cualquier paquete que desee devolver, tendrá que ser enviado mediante una compañía de transportes.Le aconsejamos
        que proteja su(s) artículo(s), ya que será responsable de los posibles daños que sufriera(n) durante el viaje.
      </p>
      <p>
        En el caso de productos defectuosos o envíos erróneos, todos los gastos de envío correrán a cargo de INODE64
        durante el primer mes transcurrido desde su venta ,Garantías (Ley, 23/2003, de 10 de Julio, de Garantías en la
        Venta de Bienes de Consumo y Ley General para la Defensa de los Consumidores y Usuarios).
      </p>
      <p>Todos nuestros productos tienen garantía original del fabricante</p>
      <p>
        Atención: La garantía no cubre la reparación de daños resultantes de una causa externa al producto (por ejemplo,
        accidente, choque…), de un uso o instalación incorrectos (no conformes a las instrucciones del fabricante), de
        un uso que afectara a la buena conservación del artículo, de un uso comercial o colectivo y/o del uso de
        accesorios o componentes no compatibles.
      </p>
      <p>
        En caso de disconformidad con la gestión de una reclamación en periodo de garantía o con el fin de detallar
        alguna consideración al respecto sobre el producto, siempre podrá ponerse en contacto telefónico con nuestro
        responsable de atención al cliente en horario comercial (<ObfuscatedPhone
          phone={import.meta.env.PHONE_NUMBER}
        />) Cancelación de Compras.
      </p>
      <p>
        El usuario puede cancelar el proceso de compra siempre y cuando este no haya sido procesado en su totalidad y no
        haya salido de nuestro almacén. Con el fin de asegurar por parte del cliente dicha cancelación, es aconsejable
        ponerse en contacto telefónico con nuestra tienda (<ObfuscatedPhone phone={import.meta.env.PHONE_NUMBER} />) .
      </p>
      <p>
        En caso de que el pedido haya sido enviado antes de su llamada, se considerará entonces como una devolución.
      </p>

      <h3>10.- Legislación aplicable en la materia</h3>
      <p>Las transacciones comerciales realizadas con www.inode64.com están sometidas a la legislación española.</p>
      <p>Leyes de aplicación a la materia</p>
      <p>
        <strong>
          * Ley 34/2002, de 11 de Julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico.
        </strong>
      </p>
      <p><strong>* Ley 7/96, de 15 de Enero, de Ordenación del Comercio minorista.</strong></p>
      <p>
        Cualquier disputa derivada de estas condiciones deberá dirimirse ante los tribunales de Castellón, España. No
        obstante, esto no impedirá a INODE64, ejercer el derecho a resolver cualquier litigio en otra jurisdicción
        competente.
      </p>

      <p>
        En cumplimiento de lo que se dispone en el artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de
        Protección de Datos de Carácter Personal (LOPD), le informamos que los datos de carácter personal que nos
        proporcione rellenando el formulario de registro electrónico que aparece en esta página se recogerán en ficheros
        cuyo responsable es Fco. Javier Félix Belmonte.En virtud de lo dispuesto en el artículo 15 y siguientes de la
        LOPD y en los términos que indica su Reglamento de desarrollo aprobado por Real Decreto 1720/2007, de 21 de
        diciembre (RLOPD), en cualquier momento usted podrá ejercer sus derechos de acceso, rectificación, cancelación y
        oposición, dirigiéndose por escrito a Calle Zumalacárregui nº 43 1, 12540 VILA-REAL, Castellón.
      </p>
      <p>
        El hecho que no introduzca los datos de carácter personal que aparecen en el formulario de inscripción como
        obligatorios podrá tener como consecuencia que no podamos atender tu solicitud.Le rogamos que comunique
        inmediatamente a Fco. Javier Félix Belmonte cualquier modificación de sus datos de carácter personal para que la
        información que contienen nuestros ficheros esté siempre actualizada y no contenga errores. Asimismo, con la
        aceptación de este aviso legal, reconoce que la información y los datos personales recogidos son exactos y
        veraces. La recogida de sus datos de carácter personal se hace con la finalidad de transmitirte publicidad de
        productos y servicios e información de carácter comercial de interés de Fco. Javier Félix Belmonte. Le
        informamos, asimismo, que nuestro servidor enviará a su ordenador un fichero ('cookie') que, con la información
        que nos facilitará sobre el idioma escogido y otras opciones de navegación de las páginas que visite a través de
        www.inode64.com. En cualquier caso, usted tiene la posibilidad de configurar su ordenador de manera que rechacé
        la instalación de estas 'cookies'.
      </p>
      <p>
        Fco. Javier Félix Belmonte se compromete a tratar de una manera absolutamente confidencial sus datos de carácter
        personal y a utilizarlos sólo para las finalidades indicadas. Asimismo te informamos que Fco. Javier Félix
        Belmonte tiene implantadas las medidas de seguridad de tipo técnico y organizativas necesarias para garantizar
        la seguridad de sus datos de carácter personal y evitar la alteración, la pérdida y el tratamiento y/o acceso no
        autorizado, teniendo en cuenta el estado de la tecnología, la naturaleza de los datos almacenados y los riesgos
        a que están expuestos,provenientes de la acción humana o del medio físico y natural. Todo ello de conformidad
        con lo dispuesto en la LOPD y en su RLOPD.
      </p>
    </div>
  </div>
</Layout>
