---
import { Image } from "astro:assets";
import logo from "../assets/images/brand/logo.webp";
import { icons } from "../assets/icons";
import allServices from "../data/services.json";
import { ObfuscatedEmail, ObfuscatedPhone, ObfuscatedData } from "astro-obfuscate/components";

const servicesForFooter = allServices.filter((service) => service.shortTitle && service.shortTitle.trim() !== "");

const year = new Date().getFullYear();

const whatsappNumber = import.meta.env.WHATSAPP_NUMBER;
const fullWhatsappLink = `https://wa.me/${whatsappNumber}`;
---

<footer class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 pt-8 pb-6 sm:px-6 lg:px-6 lg:pt-4">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div class="flex justify-center text-red-800 sm:justify-start">
          <Image src={logo} format="webp" class="w-24 h-auto md:w-32 lg:w-40" loading="lazy" alt="Logo Empresa" />
        </div>

        <p class="mt-6 max-w-md text-center leading-relaxed text-gray-500 sm:max-w-xs sm:text-left">
          INODE64 es una empresa especializada en soluciones informáticas basadas en software libre. Consulta nuestros
          servicios.
        </p>

        <ul class="mt-8 flex justify-center gap-8 sm:justify-center md:gap-7 sm:max-w-xs">
          <li>
            <ObfuscatedData data={fullWhatsappLink} text={icons.whatsapp.src} type="link" />
          </li>

          <li>
            <a
              href="https://es.linkedin.com/pub/francisco-javier-f%C3%A9lix-belmonte/40/798/a63"
              rel="noopener noreferrer"
              target="_blank"
            >
              <img src={icons.linkedin.src} alt="Linkedin" class="transition duration-200 hover:brightness-120" />
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/user/inode64" rel="noopener noreferrer" target="_blank">
              <img src={icons.youtube.src} alt="YouTube" class="transition duration-200 hover:brightness-120" />
            </a>
          </li>

          <li>
            <a href="https://twitter.com/inode64" target="_blank" rel="noopener noreferrer">
              <img src={icons.twitter.src} alt="Twitter" class="transition duration-200 hover:brightness-120" />
            </a>
          </li>

          <li>
            <a href="https://github.com/inode64" rel="noopener noreferrer" target="_blank">
              <img src={icons.github.src} alt="Github" class="transition duration-200 hover:brightness-110" />
            </a>
          </li>
          <li>
            <a href="https://www.flickr.com/photos/inode64/" rel="noopener noreferrer" target="_blank">
              <img src={icons.flickr.src} alt="Flickr" class="transition duration-200 hover:brightness-110" />
            </a>
          </li>
        </ul>
      </div>

      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4 lg:col-span-2">
        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-gray-900">Sobre INODE64</p>
          <ul class="mt-8 space-y-4 text-sm">
            <li><a class="text-gray-700 transition hover:text-gray-700/75" href="/about">Quiénes somos</a></li>
            <li><a class="text-gray-700 transition hover:text-gray-700/75" href="/#clientes">Nuestros clientes</a></li>
            <li><a class="text-gray-700 transition hover:text-gray-700/75" href="/blog">Blog & Noticias</a></li>
          </ul>
        </div>

        {
          servicesForFooter.length > 0 && (
            <div class="text-center sm:text-left">
              <p class="text-lg font-medium text-gray-900">Servicios</p>
              <ul class="mt-8 space-y-4 text-sm">
                {servicesForFooter.map((service) => (
                  <li>
                    <a class="text-gray-700 transition hover:text-gray-700/75" href={`/services/${service.slug}`}>
                      {service.shortTitle}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          )
        }

        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-gray-900">Empresa</p>

          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/faqs">FAQs</a>
            </li>
            <li>
              <a class="text-gray-700 transition group-hover:text-gray-700/75" href="/resources">Recursos</a>
            </li>
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-gray-900">Contáctenos</p>

          <ul class="mt-8 space-y-4 text-sm">
            <li class="-mt-0.5 flex items-center justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end">
              <img src={icons.mail.src} alt="Icono de correo" class="max-w-6" />
              <span class="flex-1 text-gray-700">
                <ObfuscatedEmail email={import.meta.env.SENDER_CONTACT_EMAIL} />
              </span>
            </li>

            <li class="-mt-0.5 flex items-center justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end">
              <img src={icons.phone.src} alt="Icono de teléfono" class="max-w-6" />
              <span class="flex-1 text-gray-700">
                <ObfuscatedPhone phone={import.meta.env.PHONE_NUMBER} />
              </span>
            </li>

            <li class="-mt-0.5 flex items-start justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end">
              <img src={icons.location.src} alt="Icono de localización" class="max-w-6" />
              <address class="-mt-0.5 flex-1 text-gray-700 not-italic">
                {import.meta.env.PUBLIC_ADDRESS}
              </address>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-12 border-t border-gray-100 pt-6">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <p class="text-sm text-gray-500">
          <span class="block sm:inline">Todos los derechos reservados.</span>

          <a class="inline-block text-red-800 underline transition hover:text-red-700/75" href="/terms">Términos</a>
          <span>&middot;</span>
          <a class="inline-block text-red-800 underline transition hover:text-red-700/75" href="/privacy">Privacidad</a>
          <span>&middot;</span>
          <a class="inline-block text-red-800 underline transition hover:text-red-700/75" href="/cookies">Cookies</a>
        </p>
        <p class="mt-4 text-sm text-gray-500 sm:order-first sm:mt-0">&copy; {year} INODE64 Alternativas Informáticas</p>
      </div>
    </div>
  </div>
</footer>

<script>
  import ObfuscatedData from "astro-obfuscate/client";
  ObfuscatedData.registerElement("link", (deobfuscated, text) => {
    const elem = document.createElement("a");
    elem.href = deobfuscated;

    const imgElement = document.createElement("img");

    imgElement.src = text ?? "";
    imgElement.alt = "WhatsApp";
    imgElement.className = "transition duration-200 hover:brightness-120"; // Espera data-img-class

    elem.appendChild(imgElement);

    return elem;
  });
</script>
