---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import { seoConfig } from "@/config/seo-config";
import favicon from "../assets/favicon.png";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

import { GoogleTagmanager, GoogleTagmanagerNoscript, SiteVerification } from "@digi4care/astro-google-tagmanager";

interface ImageMetadata {
  src: string;
  width: number;
  height: number;
  format: string;
}

interface Props {
  title?: string;
  image?: string | ImageMetadata;
  description?: string;
  robots?: string;
}

const {
  title = seoConfig.home.title,
  description = seoConfig.home.description,
  image = seoConfig.home.image,
  robots = seoConfig.home.robots,
} = Astro.props;

const ogImage = typeof image === "string" ? image : image.src;
---

<!doctype html>
<html lang="es">
  <head class="h-full">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />
    <meta name="author" content={"Roberto Galán"} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />

    <meta name="robots" content={robots} />

    <link rel="alternate" type="application/rss+xml" title="INODE64's Blog" href={new URL("rss.xml", Astro.site)} />

    <GoogleTagmanager id={import.meta.env.GTAG_NUMBER} />

    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="h-full">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
